{% extends 'base.html' %}

{% block content %}

<h4 class="center-align">Create Post</h4>

    <div class="card hoverable"> 
      <div class="row card-content">
        <form action="" method="post" class="col s12">
            {% csrf_token %}
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="title" maxlength="100" required="" id="id_title">
              <label for="id_title">Title</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="datepicker" name="date" value="" placeholder="2020-01-01" required="" id="id_date">
           
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" class="timepicker" name="time" maxlength="100" value="" placeholder="time" required="" id="id_time">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="address" value="" maxlength="250" required="" id="id_address">
              <label for="id_address">Address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="category" value="" maxlength="100" required="" id="id_category">
              <label for="id_category">Category</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <textarea name="description" cols="40" rows="10" maxlength="250" required="" id="id_description"></textarea>
                <label id="desc" for="id_description">Description</label>
              </div>
            </div>
          </div>
          <div class="center-align"><input type="submit" value="Submit!" class="btn"></div>
        </form>
      </div>
    </div>

    <!-- </div>
  </div>   -->

<!-- JS to create a date picker and init the meal dropdown -->
<script>
    // create a datepicker
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: false,
      autoClose: true
    });

    var timeEl = document.getElementById('id_time');
    M.Timepicker.init(timeEl, {
      defaultTime: 'now',
      autoClose: true
    })

   

</script>    
{% endblock %}