{% extends 'base.html' %}
{% block content %}

<h5 class="center-align">Profile</h5>

<div class="card">
    <div class="card-content collection with-header">
           

        <ul>
          <li class="collection-header center"><h4>{{ user.username }}</h4></li>
          <li class="collection-item"><div><span id="detLabel">Username: </span>{{ user.username }}<a href="{% url 'change_username' %}" class="secondary-content waves-effect waves-light btn-small">Change Username</a></div></li>
          <li class="collection-item"><div><span id="detLabel">Password: </span>*********<a href="{% url 'change_password' %}" class="secondary-content waves-effect waves-light btn-small">Change Password</a></div></li>
         
        </ul>

  
  </div>
</div>

<h5 class="center-align">Your Posts</h5>

<!-- user's posts -->
{% for post in posts %}
<a href="{% url 'detail' post.id %}">
    <div class="card horizontal hoverable">
    
      <div class="card-image">
            {% if post.photo_set.all|length > 0 %}
          <img class="responsive-img card-panel" src="{{ post.photo_set.first.url }}">
          {% else %}
            <p></p>
          {% endif %}
        
          </div>
        <div class="card-content">
            <span class="card-title teal-text text-teal lighten-2">{{ post.title }}</span>
            <!-- <p>{{ post.date }}</p> -->
            <div class="row">
                <div id="clock" class="col s1"><i class="small material-icons">alarm</i></div>
                <div class="col s2"> {{ post.time }}</div>
              </div>
           
            <!-- <p>{{ post.address }}</p> -->
            <div class="row">
              <div class="col s1"><i class="small material-icons">restaurant_menu</i></div>
              <div class="col s2"> {{ post.category }}</div>
            </div>
            <!-- <p>Description: {{ post.description }}</p> -->
            <div class="row">
                <div class="col s1"><i class="small material-icons">person</i></div>
                <div class="col s2"> {{ post.user }}</div>
              </div>
           
           
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}