.sidenav-overlay {
    z-index: 1;
<<<<<<< Updated upstream
=======
}

nav {
    margin-top: 15px;
    
}

#desc {
    margin-left: 4px;
    
}

.input-field>label {
    margin-left: 0px;
}

#detLabel {
    font-weight: bold;
    color: #39C0BA;
}

h3 {
    color: #39C0BA;
}

p {
    color: black;
>>>>>>> Stashed changes
}