.sidenav-overlay {
    z-index: 1;
}

.navbar-fixed {
    margin-top: 15px;
    
}

#desc {
    margin-left: 4px;
    
}

.input-field>label {
    margin-left: 0px;
}

#detLabel {
    font-weight: bold;
    color: #39C0BA;
}

h3 {
    color: #39C0BA;
}

p {
    color: black;
    
}

div.row {
   margin: auto;
   color: black;
}

#clock {
    padding-top: 1vmin;
}

div.col.s2 {
  padding-left: 3vmin;
  padding-top: .5vmin;
  padding-right: 0px;
  padding-bottom: 0px;
   
}

i {
    color: #39C0BA;
}

.card-image {
    margin-left: 8px;
}

img {
    margin-top: 10px;
}

body {
    height: 100%;
}

#bodycontainer {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    img {
        margin-top: 5px;
    }

    img.responsive-img.card-panel {
        padding: 5px;
        margin-top: 15px;
    }

    div.card-content {
        font-size: 10px;
    }

    span.card-title.teal-text.text-teal.lighten-2 {
        font-size: 15px;
        margin: auto;
    }
    
    i.small.material-icons {
        font-size: 15px;
    }
}



@media (max-width: 992px) {
    img {
        margin-top: 9px;
    }
}